

@charset "UTF-8";

*{  margin: 0px;
    padding: 0px;
}
body {
    background-color: #d96b9f;
}
h1 {
    font-size: 6em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    letter-spacing: 4px;
}
article {
    background-color: #e187b2;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    columns: 2;
    list-style-position: inside;
}
li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}
.areatexto {
    width: 650px;
    float: left;
}
.areaimagem {
    align: right center;
    float: right; 
}